:root {
  --stripe-color: #FFF;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}
@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}
@-webkit-keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
.background {
  z-index: -1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 0%,
    var(--stripe-color) 7%,
    transparent 10%,
    transparent 12%,
    var(--stripe-color) 16%
  );
  --rainbow: repeating-linear-gradient(
    -60deg,
    #32FFaa 10%,
    #FF32aa 15%,
    #4444FF 20%,
    #6666FF 25%,
    #ddddFF 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(25px) invert(100%);
  -webkit-mask-image: radial-gradient(ellipse at 110% 0%, black 25%, transparent 96%);
          mask-image: radial-gradient(ellipse at 110% 0%, black 25%, transparent 96%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    -webkit-animation: smoothBg 60s linear infinite;
            animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}
:has(:checked) {
  --stripe-color: #000;
}
:has(:checked) .background,
:has(:checked) .background::after {
  filter: blur(10px) opacity(50%) saturate(200%);
}
/*.icon {
  width: 1lh;
  height: 1lh;
  aspect-ratio: 1/1;
  padding: 0.25em 0.35rem;
  border-radius: calc(1px / 0);
  border: 1px dashed;
  --blink-opacity: 1;
  -webkit-animation: blink-animation 2s ease-in-out infinite running;
          animation: blink-animation 2s ease-in-out infinite running;
}*/
.h1--scalingSize::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: white;
  text-shadow: 0 0 1px #ffffff;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  -webkit-mask: linear-gradient(#000 0 0) luminance;
  mask: linear-gradient(#000 0 0) luminance, alpha;
  -webkit-backdrop-filter: blur(19px) brightness(12.5);
          backdrop-filter: blur(19px) brightness(12.5);
  -webkit-text-stroke: 1px white;
  display: flex;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}
