/* style.css */

.glass {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(0, 0, 0, 0.45);
}

body {
  width: calc(100% - 5vmin);
  max-width: 1368px;
  font-family: "Poppins";
  line-height: 1.6;
  padding: 2.5vmin;
  margin: auto auto;
  color: #D0D0D0;
  background: #101010;
}

/* Web Styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  border-radius: 16px;
  margin: 5vmin auto;
  padding: 5%;
}

@media (min-width: 1368px) {
  header {
    flex-direction: row;
  }
}

header>div {
  width: 100%;
  text-align: center;
}

header>img {
  user-select: none;
  max-width: 300px;
  border: 3px solid rgba(0,0,0,.45);
  border-radius: 8px;
}

header>div>h1 {
  font-size: 32px;
  margin: 32px auto 16px auto;
  color: #FB6D10;
}

header>div>p {
  font-size: 26px;
  margin: 0 auto 32px auto;
  color: #EB3E1B;
}

header>div>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header>div>div>a {
  vertical-align: middle;
  user-select: none;
  color: #DDD;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 8px 0;
  width: 90%;
  text-decoration: unset;
}

@media (min-width: 1368px) {
  header>div>div {
    flex-direction: row;
  }
  header>div>div>a {
    width: 20%;
    margin: 0 32px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

nav>a {
  text-align: center;
  min-width: 10%;

  color: #D0D0D0;
  text-decoration: none;

  margin: 0 2%;
  border: 2px solid rgba(0,0,0,.45);
  border-bottom-width: 0;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  background: rgba(0, 0, 0, 0.45);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

nav>a:hover {
  transform: scale(1.125);
}

main {
  padding: 5vmin;
  border: 2px solid #4D3347;
  border-radius: 4px;
}

main>section {
  margin: 5vmin auto;
}

main>section>h2 {
  font-size: 28px;
  text-align: left;
  margin-top: 2.5vmin;
}

section>article>a {
  user-select: none;
  color: #DDD;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: unset;
}

h3 {
  color: #DADADA;
  font-size: 18px;
  margin: 28px 0 0 0;
}

h4 {
  color: #909090;
  font-size: 16px;
  margin: 0 0 0 0;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}

ul>li {
  text-align: left;
  width: 100%;
}

footer {
  margin: auto auto;
}

footer>p {
  margin-top: 16px;
  text-align: center;
}

/* Print Styles */
@media print {
  body {
    margin: 0;
    padding: 20px;
    font-size: 12pt;
  }
  header nav {
    display: none;
  }
  a::after {
    content: " (" attr(href) ")";
  }
  #portfolio article{
    page-break-inside: avoid;
  }
  section {
    page-break-inside: avoid;
  }
}
